.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  width: 100%;
  margin: 6rem 0;
  font-family: Menlo, serif;
}

.heading {
  text-align: left;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.cardContainer {
  width: 100%;
  padding: 2% 0;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  height: 100%;
  width: 18%;
  min-width: 16rem;
  min-height: 20rem;
  border: 3px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1%;
  margin: 1rem;
  border-radius: 3px;
}

.desp {
  font-size: 1.5rem;
  font-weight: 700;
  height: 7rem;
  text-align: center;
  display: flex;
}

.c1 {
  min-width: 3rem;
  min-height: 2rem;
  height: 25%;
  width: 25%;
}

@media (max-width: 1400px) {
  .heading {
    font-size: 2.3rem;
  }
  .desp {
    font-size: 1.3rem;
    height: 5rem;
  }

  .card {
    min-height: 18rem;
  }
}

@media (max-width: 980px) {
  .container {
    margin-top: 6rem;
  }

  .heading {
    font-size: 1.8rem;
  }
  .desp {
    font-size: 1.3rem;
    height: 5rem;
  }

  .card {
    min-height: 18rem;
  }
}

@media (max-width: 850px) {
  .content {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

  .subHeading {
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-top: 1rem;
  }
}

@media (max-width: 500px) {
  .heading {
    font-size: 1.6rem;
  }

  .card {
    min-height: 15rem;
  }

  .desp {
    font-size: 1.3rem;
  }

  .c1,
  .c2,
  .c3,
  .c4 {
    min-width: 3rem;
    min-height: 3rem;
  }

  .container {
    margin-top: 4rem;
  }
}
