.main {
  width: 100%;
  font-family: Menlo, serif;
}

.heading {
  font-size: 2.5rem;
  font-weight: 800;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 1.5rem;
}

.left {
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding: 3% 0;
}

.hidden {
  display: none;
  font-size: 1.5rem;
}

.displayed {
  font-size: 1.5rem;
}

.cardContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  height: 20rem;
  max-width: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.image {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
}

.name {
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 3%;
  height: 90%;
}

.roll {
  font-family: "Menlo";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
}

.anurag {
  width: 22rem;
  height: 25rem;
}

@media (max-width: 1150px) {
  .displayed {
    display: none;
  }

  .hidden {
    display: block;
    height: max-content;
  }

  .container {
    display: grid;
    grid-template-rows: 0.3fr 0.3fr 0.3fr;
    grid-template-columns: 1fr;
  }

  .left {
    grid-template-rows: 1fr;
    margin-bottom: 2rem;
    height: max-content;
  }

  .right {
    grid-row-start: 2;
    grid-row-end: 3;
    height: max-content;
  }

  .card {
    min-width: 12rem;
    margin: 1.5rem;
  }

  .cardContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 850px) {
  .container {
    margin-top: 1rem;
  }
  .hidden {
    font-size: 1.3rem;
  }
}

@media (max-width: 550px) {
  .title {
    font-size: 1.8rem;
  }
}
