.container {
  width: 100%;
  margin-top: 3rem;
  margin-top: 6rem;
  font-family: "Menlo";
}

.heading {
  font-size: 3rem;
  font-weight: 700;
}

.content {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.list {
  padding-top: 2%;
  padding-left: 0;
  list-style: none;
}

.listitem {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

@media (max-width: 1550px) {
  .heading {
    font-size: 2.5rem;
  }

  .content,
  .listitem {
    font-size: 1.5rem;
  }
}

@media (max-width: 1200px) {
  .heading {
    font-size: 1.9rem;
  }

  .content,
  .listitem {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}

@media (max-width: 520px) {
  .heading {
    font-size: 1.6rem;
  }

  .content {
    font-size: 1.25rem;
  }
}
