.container {
  width: 100%;
  text-align: center;
  margin-top: 6rem;
  font-family: "Menlo";
}

.heading {
  font-size: 2rem;
  font-weight: 700;
}

.content {
  font-size: 1.5rem;
}

.listitem {
  font-size: 1.5rem;
  line-height: 3rem;
}

@media (max-width: 980px) {
  .container {
    margin-top: 4rem;
  }
}

@media (max-width: 520px) {
  .heading {
    width: 100%;
    margin: 0;
    font-size: 2rem;
  }

  .content {
    font-size: 1.5rem;
  }
  .listitem {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}
